# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\1Polska-Japonska Akademia Technik Komputerowych\.ROK 3 SEM 5\BYT\Task67\Lab1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
